/* styles.module.css */
.projectHeader {
  text-align: center;
  margin-top: 2rem;
}

.project {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.project ul {
  list-style-type: none;
  padding: 0;
}

.project li {
  margin-bottom: 2rem;
  border: 1px solid #4fddbf;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.project li h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #4fddbf;
}

.project li p {
  margin: 0;
}

.tags {
  margin-top: 0.5rem;
}

.tag {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  background-color: #3a7a6d;
  color: #fff;
  border-radius: 0.25rem;
}
